body{
    padding:20px;
    background-color: black;
}
  
.field.dropdown-item{
    padding: px;
    margin-bottom: 0px;
}
  
.field.dropdown-item input{
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 0px;
}

/* .hero-body {
    background-color:#656464 ;
}
 
/* Drowpdown Button */
.dropbtn {
    background-color: rgb(88, 169, 255);
    color: black;
    padding: 4px;
    font-size: small;
    border-radius: 25%;
}
#map {
    border: 0;
    width: auto;
    height: auto;
}



/* the search field */
#myInput {
    box-sizing: border-box;
    font-size: 12px;
    padding: auto;
    border: none;
    border-bottom: 1px solid #ddd;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }